<!--The content below is only a placeholder and can be replaced.-->
<div >
  <div class="hero">
    <h1>
      {{title}}
    </h1>
    <h2>
      {{subtitle}}
    </h2>
  </div>

  <div class="about">
    <div class="about__description">
      <p>{{about}}</p>
      <hr/>
      <p>{{job}}</p>
    </div>
    <div class="about__image">
      <img src={{image}} alt="Stephanie Zeng">
    </div>
  </div>

  <div class="social-media">
    <h1>Stay Connected!</h1>
    <ul>
      <li>Github</li>
      <li>CodePen</li>
      <li>Twitter</li>
      <li>Linkedin</li>
    </ul>
  </div>

</div>
